#experience {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap: 30px;
    padding-bottom: 90px;
}

.experience-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5em;
    flex-wrap: nowrap;
}

#experience h2 {
    font-weight: 600;
    color: #303030;
    white-space: nowrap;
}