
.footer__nav {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.footer__nav-list {
    display: flex;
    list-style: none;
    gap: 25px;
}

.footer__nav-item a {
    font-size: .9em;
    color: #303030;
    text-decoration: none;
    text-wrap: nowrap;
    font-weight: 500;
}

.footer__nav-item a:hover {
    color: var(--violeta);
}


/* Footer List Social  */

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 80px 40px 80px;
}

hr {
    width: 90%;
    margin: auto;
}

.footer__list-social {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.footer__list-user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__list-user img {
    width: 60px;
    border-radius: 100px;
}

.footer__list-user span {
    color: #303030;
    text-wrap: nowrap;
    font-weight: 500;
}